<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Service Biologique</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/here.css" type="text/css" />
    <link rel="stylesheet" href="../css/test.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/234e03b889.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Page Preloder -->
    

    <style>
      /* Style for the green button */
      .btn-green {
        background-color: #4caf50; /* Green color */
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px; /* Adjust this margin as needed */
      }

      /* Center the button horizontally */
      .text-center {
        text-align: center;
      }
      .col-lg-6.text-justify p {
        font-size: 15px; /* Adjust the font size as needed */
      }
    </style>
    <!--header-->
    <script>
      $(function () {
        $("#header").load("../../views/include/header.html");
      });
    </script>
    <div id="header"></div>

    <div>
      <p></p>
      <br />
    </div>
    <div>
      <p></p>
    </div>
    <!--
Start About Section
==================================== -->
    <section class="about" id="about" data-section="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8">
            <!-- section title -->
            <div class="section-title from-blog__title">
              <h2>Certifications</h2>
              <br />
            </div>
            <!-- /section title -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-justify">
            <p>
              <b>SERVICE BIOLOGIQUE SARL</b> has obtained ISO 13485:2016
              certification for its activities related to the import, export,
              storage, and distribution of medical devices and in-vitro
              diagnostic reagents. ISO 13485 is the most rigorous international
              standard in the world, and <b>SERVICE BIOLOGIQUE</b> was audited
              by the European body <b>CERTI-TRUST.</b>

              This certification rewards and strengthens the quality approach
              that <b>SERVICE BIOLOGIQUE</b>> has chosen to support its growth,
              ensuring the quality and safety of products by demonstrating the
              rigorous quality procedures required to provide safe and effective
              medical devices. However, obtaining ISO recognition is not an
              endpoint; we are constantly seeking to improve our Quality
              Management System processes to meet the expectations and
              requirements of our clients.
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <img
              loading="lazy"
              src="img/ISOpng.png"
              class="img-fluid imgAbout"
              alt=""
              width="300"
              height="200"
            />
          </div>
          <div class="col-lg-12 text-center">
            <a
              href="https://www.servicebiologique.com/wp-content/uploads/Certi-Trust-Certificat-ISO-13485-FR-SERVICE-BIOLOGIQUE-SIGNED.pdf"
              class="btn btn-green"
              download
              >Telecharger</a
            >
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End container -->
    </section>
    <!-- End section -->

    <!--footer-->
    <script>
      $(function () {
        $("#footer").load("../../views/include/footer.html");
      });
    </script>
    <div id="footer"></div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
