<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Service Biologique</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <!-- Corrected order and references -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/here.css" type="text/css" />
    <link rel="stylesheet" href="css/test.css" type="text/css" />
    <!-- Add missing link tag -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/234e03b889.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="./index.html"><img src="/img/usedLogos/logo.png" alt="" class="contact-logo"/></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa-solid fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="../../views/certification.html">Certifications</a></li>

        <li class="has-submenu">
          <a href="#">Catégories</a>
          <ul class="sub-menu">
            <li><a href="../../equipement.html">Equipements</a></li>
            <li><a href="../../anapath.html">Produits Anapath</a></li>
            <li><a href="../../microscope.html">Microscopes</a></li>
          </ul>
        </li>
        <li><a href="../../views/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <script src="js/custom.js"></script>

</html>
