<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bootstrap Multiple Item Product Carousel</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../css/products.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   
  </head>
  <body>
    <div class="row spad gray-background">
      <div class="col-md-12">
        <h2>Nos <b>Produits</b></h2>
        <div id="myCarousel" class="carousel slide" data-interval="0">
          <!-- Carousel indicators -->

          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="/img/produits/product02.png" class="img-fluid" alt="" />
                    </div>
                    <div class="thumb-content">
                      <h4>Cytologie Monocouche</h4>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="/img/produits/product01.png" class="img-fluid" alt="" />
                    </div>
                    <div class="thumb-content">
                      <h4>Anapath Réactifs</h4>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="/img/produits/product5.png" class="img-fluid" alt="" />
                    </div>
                    <div class="thumb-content">
                      <h4>Microscopes</h4>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="/img/produits/product4.png" class="img-fluid" alt="" />
                    </div>
                    <div class="thumb-content">
                      <h4>Matériaux Anapath</h4>
                    </div>
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-12 text-right">
                  <a href="./anapath.html" class="btn btn-green">
                    See More <span class="icon-arrow">&gt;</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
